<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user-mapper">
<select id="getAllUser" resultType="com.spring.model.vo.UserVo">
	select * from user_view;
</select> 
<select id="getUserById" resultType="com.spring.model.vo.UserVo" parameterType="com.spring.model.vo.UserVo">
	select * from user_view where id = #{id};
</select>
<select id="idCheck" resultType="String" parameterType="com.spring.model.vo.UserVo">
	SELECT ID FROM USER_VIEW WHERE ID = #{id}
</select>
<select id="loginCheck" resultType="String" parameterType="com.spring.model.vo.UserVo">
	SELECT ID FROM USER_INFORMATION
	WHERE ID=#{id} AND PW=#{pw}
</select>
<insert id="addUser" parameterType="com.spring.model.vo.UserVo" >
	insert into user_information(id,pw,name
	<if test= "address != null">
		,address,
	</if>
	<if test="phone_number != null">
		,phone_number,
	</if>
	<if test="self_instruction != null">
		,self_instruction
	</if>
	)
	values(#{id},#{pw},#{name}
	<if test= "address != null">
		,#{address},
	</if>
	<if test="phone_number != null">
		,{phone_number},
	</if>
	<if test="self_instruction != null">
		,#{self_instruction}
	</if>
	)
</insert>
<delete id="deleteUserById"  parameterType="com.spring.model.vo.UserVo">
	delete from user_information
	where id = #{id}
</delete>
<update id="updateUserById"  parameterType="com.spring.model.vo.UserVo">
	UPDATE USER_INFORMATION 
	<if test="pw != null">
		SET PW=#{pw}
	</if>
	<if test="name != null">
	, NAME =#{name}
        </if>
	<if test="phone_number != null">
		, PHONE_NUMBER = #{phone_number}
	</if>
	<if test="address != null">
		, ADDRESS = #{address}
	</if>
	<if test="self_instruction != null">
		, SELF_INSTRUCTION = #{self_instruction}
	</if>
	WHERE ID = #{id}
</update>
</mapper>
