<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="identity-Mapper">
<select id="all_identity" resultType="com.spring.model.UserVo">
	select * from user;
</select>
<insert id="add_user" >
	insert identity_information(id,pw,name,phone_number,address,Simple_self_instruction)
	values(#{id},#{pw},#{name},#{phone_number},#{address},#{Simple_self_instruction}); 
</insert>
</mapper>