<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="menu-mapper">
	<select id="getMenuList">
		SELECT * FROM MENU
	</select>
	<select id="getPostCount">
		SELECT MENU.MENU_NAME,COUNT(*) FROM MENU
		INNER JOIN POST
		ON MENU.MENU_NUM = POST.MENU_NUM
		GROUP BY MENU.MENU_NAME;
	</select>
	<insert id="insertMenu">
		INSERT INTO MENU(MENU_NAME)
		VALUES (#{menu_name})
	</insert>
	<update id="updateMenu">
		UPDATE MENU
		SET MENU_NAME = #{menu_name}
	</update>
</mapper>
